body {
  background-color: #393E46;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  color: #4ECCA3;
}

.dice {text-align: center;
display: inline-block;
margin: 5%;}

footer {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: white;
  margin: 5% 0 5% 0;
}
